h1 { font-size: 1.728rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1rem; }
h4 { font-size: 0.833rem;}
h5 { font-size: 0.694rem; }
h6 { font-size: 0.579rem; }

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    margin: 0;
    color: #231f20;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 700; }

p { font-weight: 400; }

.block {
    padding: 2rem 4rem;
}

body { 
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    padding: 1rem;
    border-bottom: 1px solid gray;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1); }


nav.container {
    display: flex;
    gap: 2rem;
    padding: 0; }


.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }

img.bg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 10%; }


a { text-decoration: none; }

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem; }

.division {
    background-color: gray;
    width: 100%;
    height: 1px; }


.division.short {
    width: 33%;
    margin-left: auto;
    margin-right: auto; }

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem; }


.image-grid.casting {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }

.image-grid img { 
    width: 100%; }

.image-box:hover {
    border: 1px solid gray;
    background-color: aliceblue;
    box-shadow: 
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1); }


        
.image-box {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 150px;
    margin-bottom: 1rem;
    transition: all ease 200ms;
    border: 1px solid gray;
    border-radius: 4px;
    text-overflow: ellipsis; }

.image-box img {
    width: 100%; 
    height: 150px; }


.image-box .content {
    overflow: hidden;
    padding: 1rem ; }

.image-box .content p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}




/* MARGINS */
.mb-md { margin-bottom: 1rem; }
.mb-lg { margin-bottom: 2rem; }
